<header class="header">
    <article class="container">
        <div class="left-header-area">
            <div class="logo">
                <h1>&lt;AK&gt;</h1>
            </div>
            <app-navbar></app-navbar>
        </div>
    </article>
    <article class="container">
        <div class="header-translation-buttons">
            <button class="translation-button">EN</button>
            |
            <button class="translation-button">DE</button>
        </div>
    </article>
</header>