<section class="hero">
    <section class="left-hero-area">
        <article class="buttons-and-arrows">
            <button class="hero-button-contact">CONTACT ME</button>
            <button class="hero-button-whyMe">
                <svg xmlns="http://w3.org" viewBox="0 0 24 24" class="arrow-icon">
                    <path d="M5 12h14M12 5l7 7-7 7" stroke="var(--orange-text-color)" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" fill="none" />
                </svg>
            </button>
        </article>
        <article class="name-and-slogan">
            <h2>FRONTEND DEVELOPER</h2>
            <p>Asbjörn Kurrek</p>
        </article>
    </section>
    <section class="profil-image"></section>
</section>