<section class="hero">
    <section class="left-hero-area">
        <article class="buttons-and-arrows">
            <button class="hero-button-contact">CONTACT ME</button>
            <button class="hero-button-whyMe">
                <svg xmlns="http://w3.org" viewBox="0 0 11 25" class="arrow-icon">
                    <path d="M5.5 2v21M1.5 6l4-4 4 4"  stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" fill="none" />
                </svg>
            </button>
        </article>
        <article class="name-and-slogan">
            <h2>FRONTEND DEVELOPER</h2>
            <p>Asbjörn Kurrek</p>
        </article>
    </section>
    <section class="profil-image"><img src="img/hero/hero-image.png" alt="Asbjörn Kurrek"></section>
</section>