<section class="why-me">
    <img class="whyMe-image" src="img/whyMe/profile-image2.png" alt="Asbjörn Kurrek">
    <article class="why-me-text">
        <div class="text">
            <h2>Why me</h2>
            <p>Write some information about yourself that is IT related. Why are you passionate about coding? Highlight
                your motivation for professional growth and continuous learning. Emphasise your strong problem-solving
                skills and passion for coding.</p>
        </div>
    </article>
</section>